[tool.poetry]
name = "jcalapi"
version = "0.1.0"
description = "Local calendar caching and JSON API"
authors = ["Philipp Schmitt <philipp@schmitt.co>"]
license = "GPL-3"

[tool.poetry.dependencies]
python = "^3.9"
aioify = "^0.4.0"
asynccli = "^0.1.3"
atlassian-python-api = "^3.20.1"
diskcache = "^5.4.0"
environs = "^9.5.0"
fastapi = "^0.74.1"
fastapi-utils = "^0.2.1"
httpx = "^0.22.0"
icalendar = "^4.0.9"
loguru = "^0.6.0"
python-dateutil = "^2.8.2"
recurring-ical-events = "^1.0.1b0"
uvicorn = {extras = ["standard"], version = "^0.17.5"}
xdg = "^5.1.1"
exchangelib = {git = "https://github.com/ecederstrand/exchangelib.git"}

[tool.poetry.dev-dependencies]
black = "^22.1"
flake8 = "^4.0.1"
ipython = "^8.1.0"
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
